git-filter-repo==2.47.0
Jinja2==3.1.2
MarkupSafe==3.0.2
opencolorio==2.4.1
pip==25.0.1
PyOpenGL==3.1.5
PySide6==6.8.2.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
setuptools==75.6.0
shiboken6==6.8.2.1
types-usd==24.5.2
wheel==0.45.1